/* Use CMD+/ for comments */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 20px;
    margin: 0 auto;
    width: 1100px;
    max-width: 100%;
}


/*Mobile View*/
.profile-img{
    padding: 10px;
    width: 400px;
    max-width: 100%;
    border-radius: 50%;
}

.project-img{
    padding: 10px 10px 10px 0;
    width: 500px;
    max-width: 100%;  
}

header{
    display: flex;
    padding-bottom: 20px;;
    justify-content: space-between;
    flex-direction: column;
   
    
}

.hline-bottom {
    margin-bottom: 20px;
    border-bottom: 3px solid #000;
}

li {
    margin-left: 40px;
}

.main-nav {
    display: flex;
    align-items: center;
}


.page-container { 
    margin: 0px 10px;
    padding: 15px 80px;
    max-width: 100%;
}

.section {
    padding: 10px 0;
}

.listing{
    padding: 10px 0 10px 0;
}

.locationdate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-disc{
    padding: 10px 0 30px 0;
}



/*Desktop View*/
@media screen and (min-width: 800px) {
    .locationdate{
        flex-direction: row;
    }

    header{
        display: flex;
        padding-bottom: 20px;;
        justify-content: space-between;
        flex-direction: row;
        
    }

    .main-nav a {
        margin-left: 20px;
       
     }

    .mainprofile{
        display: flex;
        align-items: center;
        
    }

    .projectprofile{
        display: flex;
        align-items: flex-start;
        
    }

    .profile-img{
        padding: 20px;
        width: 500px;
        max-width: 50%;
        border-radius: 50%;
    }

    .project-img{
        padding: 10px 10px 10px 0;
        width: 500px;
        max-width: 50%;  
    }

    .project-disc{
        padding: 10px 0 0 0;
    }
}
